.abonament-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  background-color: #d5deef;
  font-size: 1.2vw;
}

.abonament-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1vw 0;
}

.plan-card {
  border-radius: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2vw 0;
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
}

.plan-header {
  flex-basis: 20%;
  text-align: center;
  color: #333;
  font-size: 1.5vw;
}

.plan-pricing,
.plan-header {
  font-family: "Michroma", sans-serif;
  font-size: 24px;
}
.plan-pricing,
.plan-content {
  font-size: 1.2vw; /* Zwiększ rozmiar czcionki */
}
.plan-pricing,
.plan-header,
.plan-content {
  color: white;
}
.plan-content {
  flex-basis: 50%;
}

.plan-pricing {
  flex-basis: 20%;
  text-align: center;
}

.plan-price {
  font-weight: bold;
  margin-bottom: 1vw;
}

.plan-button {
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  border: none;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2vw;
}

.plan-button:hover {
  background-color: #3178c6;
}

.plan-card.podstawowy .plan-header {
  height: 40vh;
  display: flex;
  font-size: 1.5vw;
  padding: 0.7vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #93cee7 0%, #527381 100%);
}
.plan-card.podstawowy .plan-content {
  height: 40vh;
  display: flex;
  font-size: 1.1vw;
  font-family: "Inter", sans-serif;

  background: linear-gradient(to bottom, #93cee7 0%, #527381 100%);
}
.plan-card.podstawowy .plan-content li {
  margin-top: 20px;
}
.plan-card.podstawowy .plan-pricing {
  height: 40vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  background: linear-gradient(to bottom, #93cee7 0%, #527381 100%);
}

.plan-card.podstawowy .plan-pricing button {
  width: 75%;
  height: 6vw;
  margin-top: 1vw;
  border-radius: 5vw;
  font-family: "Inter", sans-serif;
}
/* Rodzinny */
.plan-card.rodzinny .plan-header {
  height: 40vh;
  display: flex;
  padding: 3.5vw;
  font-size: 1.5vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #1e9dd3 0%, #10516d 100%);
}
.plan-card.rodzinny .plan-content {
  height: 40vh;
  display: flex;
  font-size: 1.1vw;
  font-family: "Inter", sans-serif;

  background: linear-gradient(to bottom, #1e9dd3 0%, #10516d 100%);
}
.plan-card.rodzinny .plan-content li {
  margin-top: 2vw;
}
.plan-card.rodzinny .plan-pricing {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  background: linear-gradient(to bottom, #1e9dd3 0%, #10516d 100%);
}

.plan-card.rodzinny .plan-pricing button {
  width: 75%;
  height: 6vw;
  margin-top: 1vw;
  border-radius: 5vw;
  font-family: "Inter", sans-serif;
}
/* Premium */

.plan-card.premium .plan-header {
  height: 40vh;
  display: flex;
  text-align: center;
  font-size: 1.5vw;
  justify-content: center;
  align-items: center;
  padding: 3.845vw;
  background: linear-gradient(to bottom, #93cee7 0%, #527381 100%);
}
.plan-card.premium .plan-content {
  height: 40vh;
  display: flex;
  font-size: 1.1vw;
  font-family: "Inter", sans-serif;

  background: linear-gradient(to bottom, #93cee7 0%, #527381 100%);
}
.plan-card.premium .plan-content li {
  margin-top: 2vw;
}
.plan-card.premium .plan-pricing {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  background: linear-gradient(to bottom, #93cee7 0%, #527381 100%);
}

.plan-card.premium .plan-pricing button {
  width: 75%;
  height: 6vw;
  margin-top: 1vw;
  border-radius: 5vw;
  font-family: "Inter", sans-serif;
}
/* Star icon */
.plan-header {
  position: relative;
}
.star-icon {
  position: absolute;
  top: 0;
  left: -3%;
  /* width: 3vw;
  height: 1.5vw; */
  min-width: 6vw;
  min-height: 3vw;

  transform: translate(-50%, -50%);
}

.abonament-page.dark,
.abonament-page.dark h1.abonament-title {
  background-color: #395886;
  color: white;
}

.abonament-page.dark h1.abonament-title {
  border-bottom: 1px solid #fff;
}

@media (max-width: 1100px) {
  .abonament-page {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .plan-card {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .plan-header,
  .plan-content,
  .plan-pricing {
    width: 80%;
    /* height: auto; */
    margin-top: 40px;
  }

  .plan-button {
    font-size: 11px;
  }

  .plan-pricing button {
    height: 10px;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .plan-card.podstawowy .plan-header {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 20%;
  }

  .plan-card.podstawowy .plan-content {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 20%;
  }

  .plan-card.podstawowy .plan-pricing {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 10%;
  }

  .plan-card.rodzinny .plan-header {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 20%;
  }

  .plan-card.rodzinny .plan-content {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 20%;
  }

  .plan-card.rodzinny .plan-pricing {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 10%;
  }
  .plan-card.premium .plan-header {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 20%;
  }

  .plan-card.premium .plan-content {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 20%;
  }

  .plan-card.premium .plan-pricing {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 10%;
    margin-bottom: 40px;
  }
}
