.abonament-section {
  padding: 40px;
  text-align: center;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abonament-title {
  font-size: 3vw;
  font-family: "Michroma", sans-serif;
  margin-bottom: 40px;
  color: #252121;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 10px;
}

.abonament-description-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.abonament-description {
  font-size: 1.5vw;
  text-align: justify;
  text-align-last: justify;
  margin-bottom: 3vw;
  width: 80%;
}

.abonament-button {
  width: auto;
  min-width: 265px;
  height: auto;
  min-height: 69px;
  background-color: #638ecb;
  font-size: 1.5vw;
  color: white;
  border: none;
  padding: 1vw 2vw;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.abonament-button:hover {
  background-color: #8aaee0;
}

.abonament-title.dark {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.abonament-description.dark {
  color: #fff;
}
@media (max-width: 700px) {
  .abonament-title {
    font-size: 32px;
  }

  .abonament-description {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .abonament-button {
    font-size: 15px;
    padding: 10px 20px;
  }
}
