.about-us {
  font-family: "Inter", sans-serif;
  color: #333;
  padding: 2vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section-h1 {
  font-size: 3vw;
  font-family: "Michroma", sans-serif;
  border-bottom: 2px solid #000;
  color: #252121;
  display: inline-block;
  padding-bottom: 0.5vw;
  margin-bottom: 2vw;
}

.image-text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw 0;
  line-height: 2vw; /* Dynamiczny interlinia */
  font-size: 1.8vw; /* Dynamiczny rozmiar czcionki */
}

.about-image {
  border: 0.3vw dashed #337276;
  min-width: 565px; /* Minimalna szerokość obrazu */
  min-height: 437px; /* Minimalna wysokość obrazu */
  width: 40vw; /* Szerokość jako procent szerokości widoku, skaluje się w górę */
  height: auto; /* Wysokość automatycznie dostosowuje się do szerokości, zachowując proporcje */
  margin: 2vw;
  transition: transform 0.3s ease-in-out;
  padding: 1vw;
}

.about-image-first {
  transform: rotate(6deg);
}

.about-image-second {
  transform: rotate(-6deg);
}

.text-description {
  width: 40%;
  text-align: justify;
  /* font-size: 20px; */
  font-size: 1.8vw;
  padding: 1vw;
}

.test-description-additional-info {
  margin-right: 40px;
  width: 30%;
}
.test-description-margin {
  margin: 1vw 4vw;
  width: 30%;
}

.about-us.dark {
  color: white;
}
.header-section-h1.dark-mode {
  color: #fff;
  border-bottom: 2px solid #fff;
}
@media (max-width: 700px) {
  .about-image {
    display: none; /* Ukrywa obrazy na ekranach o szerokości 700px lub mniejszej */
  }

  .text-description {
    width: 100%; /* Rozszerza tekst na całą dostępną szerokość */
    margin-right: 30px;
    font-size: 18px;
  }

  .image-text-section {
    flex-direction: column; /* Opcjonalnie zmienia układ na kolumnowy dla lepszego czytania */
    align-items: center;
    line-height: 30px;
    letter-spacing: 1.5px;
  }
  .test-description-additional-info {
    margin-right: 2px;
  }

  .header-section-h1 {
    font-size: 32px;
  }
}
