.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 50px; */
  background-color: white;
}

.appointment-button {
  width: 450px;
  height: 65px;
  background-color: #7abdb5;
  border: none;
  color: white;
  padding: 15px 32px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  position: relative;
  right: 24vw;
  margin-top: 70%;
  border-radius: 50px;
  margin-left: auto;
}

.team {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.team img {
  width: 100%;
  max-height: auto;
}
.main-photo-dentist {
  width: 100%;
}

.content {
  width: 11.5%;

  background-color: white;
}

.h1-main-photo {
  background-color: white;
  text-align: center;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
  position: relative;
  right: -9%;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  letter-spacing: 3px;
  line-height: 170%;
  font-size: 39px;
}

@media (max-width: 1240px) {
  .header {
    flex-direction: column; /* Układanie elementów w pionie */
    align-items: center; /* Wyśrodkowanie elementów poziomo */
    text-align: center; /* Wyśrodkowanie tekstu dla wszystkich dzieci */
  }

  .team,
  .content,
  .h1-main-photo {
    width: 100%; /* Zajmuje całą szerokość kontenera na mniejszych ekranach */
  }

  .team {
    order: 1; /* Zdjęcie będzie pierwsze */
  }

  .h1-main-photo {
    position: relative;
    right: 0.00001px;
    order: 2; /* Tytuł poniżej zdjęcia */
    margin-top: 20px; /* Dodatkowy odstęp nad tytułem */
    font-size: 24px; /* Dostosowanie rozmiaru czcionki dla mniejszych ekranów */
    margin-bottom: 10px; /* Zmniejszenie odstępu pomiędzy tytułem a przyciskiem */
  }

  .content {
    order: 3; /* Przycisk umów wizytę jest ostatni */
    /* width: auto;  */
  }

  .appointment-button {
    position: relative;
    left: 2%;
    width: 50%;
    height: 65px;
    margin: 0 auto 20px;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 50px;
  }
}

@media (min-width: 1340px) {
  .appointment-button {
    width: 15vw; /* Szerokość jako procent szerokości widoku */
    height: 5vh; /* Wysokość jako procent wysokości widoku */
    right: 150%; /* Dostosowane przesunięcie do prawej */
    position: relative; /* Ustawienie pozycji względnej */
    margin: 0 auto; /* Wyśrodkowanie przycisku */
    min-width: 450px; /* Minimalna szerokość, aby zapewnić czytelność */
    min-height: 65px; /* Minimalna wysokość, aby zapewnić czytelność */
    /* right: 180%; */
    margin-top: 2%;
    font-size: 1vw;
  }

  /* .header {
    padding: 20px 100px;
  } */

  .h1-main-photo {
    /* margin-bottom: 1%;  */
    font-size: 3vw; /* Dynamiczne skalowanie rozmiaru czcionki w zależności od szerokości widoku */
  }
}
