.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow-x: hidden;
}

nav.navbar {
  border-bottom: #3de701 1px solid;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin-left: 20px;
}
.navbar ul > li {
  margin-top: 50px;
}

.navbar li {
  margin-right: 20px;
}

.navbar li:hover {
  cursor: pointer;
  color: #5d5d5d;
  font-size: 18px;
}
.login-button {
  background-color: #8fffae;
  border: none;

  padding: 10px 40px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 40px 30px 0px;
  cursor: pointer;
  border-radius: 100px;
}

.toggle-button {
  position: relative;
  left: 26%;
  right: 20%;
  margin-right: 5%;
  top: -12px;
}

.navbar-dark {
  background-color: #1a1a1a;
}

.footer-dark {
  background-color: #333;
}

.body-dark {
  background-color: #262626;
}
.navbar.dark {
  color: #fff;
}
