.services {
  text-align: center;
  font-family: "Arial", sans-serif;
  /* background-color: #f4f4f9; */
  padding: 20px;
}

.services-title {
  font-size: 32px;
  font-family: "Michroma", sans-serif;
  margin-bottom: 40px;

  color: #252121;
  border-bottom: #000 1px solid;
  display: inline-block;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-card {
  width: 380px;
  height: 333px;
  background-color: #638ecb;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.service-icon {
  width: 212px;
  height: 199px;
  margin-bottom: 10px;
  background-color: #638ecb;
}

.service-name {
  font-size: 20px;
  font-weight: bold;

  background-color: #638ecb;
}

.service-card:hover {
  background-color: #8aaee0;
  cursor: pointer;
}

.service-card:hover .service-icon {
  background-color: #8aaee0;
  cursor: pointer;
}

.service-card:hover .service-name {
  background-color: #8aaee0;
  cursor: pointer;
}

.services-title.dark-mode {
  color: #fff;
  border-bottom: 2px solid #fff;
}

@media (min-width: 1024px) {
  .services-title {
    font-size: 2.5vw; /* Scalable font size */
    margin-bottom: 1.5vw; /* Relative margin */
  }

  .services-grid {
    gap: 1.5vw;
  }

  .service-card {
    width: 24vw; /* Relative width to the viewport */
    height: auto; /* Height adjusted based on content */
    padding: 1vw; /* Scalable padding */
  }

  .service-icon {
    width: 12vw; /* Scalable width for the icon */
    height: auto; /* Height adjusted based on aspect ratio */
  }

  .service-name {
    font-size: 1.5vw; /* Scalable font size */
  }
}
