.payment-status-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: "Michroma", sans-serif;
  padding: 20px;
}

.payment-status-page h2 {
  display: flex;
  width: 60%;
  height: 60%;
  justify-content: center;
  text-align: center;
  align-items: center;

  border-radius: 40px;
  margin-bottom: 20px;
}

.success-pay h2 {
  background-color: #aef38d;
}
@media (max-width: 770px) {
  .payment-status-page h2 {
    width: 100% !important;
    font-size: 16px;
  }

  .payment-status-page {
    padding: 10px;
  }
}
