.wait-for-accept {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
}

.background-payment {
  font-family: "Michroma", sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 1.2vw;
}

.navbar-wait {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.5vw;
  background-color: #d5deef;
}

.back-button img {
  cursor: pointer;
  width: 3vw;
}

.content-wait {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.spinner {
  width: 8vw;
  height: 8vw;
  border: 0.5vw solid rgba(0, 102, 255, 0.2);
  border-top-color: #0066ff;

  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.checkmark {
  width: 8vw;
  height: 8vw;
  background-color: green;
  clip-path: polygon(20% 39%, 34% 52%, 74% 17%, 84% 27%, 34% 76%, 10% 53%);
  background-color: #4caf50;
}

.crossmark {
  width: 8vw;
  height: 8vw;
  position: relative;
  background-color: transparent;
}

.crossmark::before,
.crossmark::after {
  content: "";
  position: absolute;
  border: 0.2vw solid red;
  width: 0.8vw;
  height: 0.2vw;
  background-color: red;
  top: 23px;
  margin-top: 1.5vw;
  left: 0;
}

.crossmark::before {
  transform: rotate(45deg);
}

.crossmark::after {
  transform: rotate(-45deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 770px) {
  .spinner {
    width: 80px;
    height: 80px;
    border: 5px solid rgba(0, 102, 255, 0.2);
    border-top-color: #0066ff;
  }

  .crossmark::before,
  .crossmark::after {
    content: "";
    position: absolute;
    border: 2px solid red;
    width: 80px;
    height: 20px;
    background-color: red;
    top: 23px;
    margin-top: 15px;
    left: 0;
  }

  .background-payment {
    font-size: 12px;
  }
  .checkmark {
    width: 80px;
    height: 80px;
    background-color: green;
    clip-path: polygon(20% 39%, 34% 52%, 74% 17%, 84% 27%, 34% 76%, 10% 53%);
    background-color: #4caf50;
  }
}
